TELEGRAM_API = 'YOUR_BOT_TOKEN_HERE'
USER_ID = 'YOUR_TELEGRAM_USER_ID_HERE'

# Cloudflare Turnstile Keys
PUBLIC_TURNSTILE_SITE_KEY = '1x00000000000000000000AA'
TURNSTILE_SECRET_KEY = '1x0000000000000000000000000000000AA'
